/*const*/
:root{
    --ibbara: 'Ibarra Real Nova', serif;
    --noto: 'Noto Sans JP', sans-serif;

    /*color*/
    --c--purple: rgba(123, 36, 96, 1);
    --c--cyan:  rgba(237, 241, 249, 1);
    --c--pink:  rgba(218, 52, 134, 1);

}