@charset "utf-8";
/* CSS Document */
body,html{
    max-width: 100%;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}
header .left {
    width:fit-content;
    height:fit-content;
}
.right {
    display:flex;
    align-items: center;
    /*background: #f1f1f1;*/
}
nav {
    margin-right:34px;
}
nav ul {
    /*width:490px;*/
    display: flex;
    justify-content: space-between;
    gap:20px;
}
nav li {
    width:auto;
    /*background: #ccc;*/
    text-align: center;
}
nav li a {
    /*font-size:0.8rem;*/
}
.header-utitlity {
    display:flex;
}
.language {
    width:142px;
}
.search {
    width:158px;
}

/**/
.top-contents {
    width: 1200px;
    height: 800px;
    background: #333;
    position:relative;
    margin: 0 auto;
}
.weather {
    width:200px;
    height:500px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left:0;
}
/**/
.description {
    height: 500px;
    background-image: url("../images/top/rectangle409.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.description .inner {
    max-width:1000px;
    padding: 20px;
    margin:60px auto;
    text-align: center;
}
.description .inner h2 {
    font-size: 2.0rem;
}

.review > h2{
    display:flex;
    justify-content: center;
}

/*reset*/
.container{
    padding:0 !important;
    margin:0 !important;
    width:100% !important;
    max-width: unset !important;
}

/*top-page*/
.col-1{
    background: url("../images/top/bg-topcontents.jpg") repeat-y;
    width:30%;
    padding: 50px 70px !important;
    flex: unset !important;
    max-width: unset !important;
    width:500px !important;
    margin-top:60px;
}

/*date*/
.year{
    margin-top: 30px;
}
.day{
    margin-top:-40px;
}

.year,
.day{
    font-family: 'Noto Sans HK', sans-serif;
    font-size:23px;
    font-weight:700;
}

.dates-col-1{
    width:fit-content;
    display: inline-block;
}
.dates-col-2{
    display:inline-block;
    font-size: 75px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 700;
    margin-left: 50px;
}

/*weather*/
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:30px;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-1-top{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1rem;
}

.weather-container > hr{
    width: 100%;
    height: 1px;
    border:1px dotted white;
}

/*event*/
.event-text{
    font-size: 1rem;
    font-family: 'Ibarra Real Nova', serif;
}

.event-text-2{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 28px;
}

.event-text-3{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 600;
}


/*pickup*/
.col-2{
    flex:unset !important;
    max-width: unset !important;
    width:69% !important;
    margin-left: -100px;
    z-index: 1;
}

.col-1{
    z-index: 2;
}

.pick-up>img{
    height:700px;
}

.pick-up-text{
    margin-top:30px;
    margin-left:100px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 700;
    font-size:32px;
}

.pick-ip-text-2{
    margin-right:30px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 600;
}

.pick-up-button{
    background-color: rgba(116, 50, 92, 1);
    width:75px;
    height: 50px;
    border-radius: 30px;
}

.read-this,
.pick-up-button-class{
    display: inline-block; 
}

.col-2 > hr{
    width:100%;
    height:1px;
}
.pickup-check{
    margin-top:40px;
}

.button-pickup-check{
    background-color: rgba(116, 50, 92, 1);
    border-radius:30px;
    margin-left:30px;
}

.button-pickup-check > button{
    width: 100px;
    height:50px;
    text-align: center;
}

.pickup-check-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 600;
}

.pickup-check-text,
.button-pickup-check{
    display: inline-block;
}
/*emergency alert*/
.emergency-alert{
    color: rgba(132, 132, 132, 1);
    margin-left:100px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
    margin-top:20px;
    
}
/*introduction*/
.introducing{
    padding:50px;
    background: url("../images/top/bg-foot.jpg");
}

.intro-top{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom:50px;
}

.intro-bottom{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.reiviews{
    padding:50px 0;
}

.review-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(180deg, #C4A366 0%, #E0C38C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.review-text-2{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom:50px;
}
/*slidder*/
.swiper {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*review post*/
.post-submit{
    background-color: rgba(224, 195, 140, 1);
    margin: 30px 200px;
    padding: 10px;
    margin-top:200px;
    margin-bottom:50px;
    border-radius: 20px;
}

.post-submit-text{
   font-family: 'Ibarra Real Nova', serif;
    font-size: 23px;
    font-weight: 700;
    color:white;
    display: inline-block;
}

.post-submit-button{
    display: inline-block;
    border:1px solid white;
    border-radius:40px;
    color:white;
    padding:10px 20px;
    margin-left:100px;
    margin-right:150px;
}

.post-submit-pic{
    position: absolute;
    margin-left:770px;
    margin-top: -200px;
}

.review-check-text,
.button-review-check{
    display: inline-block;
}

.review-check{
    padding: 20px 50px; 
}

.button-review-check{
    background-color: rgba(224, 195, 140, 1);
    
    border-radius:30px;
    margin-left:30px;
}

.button-review-check > button{
    width: 100px;
    height:50px;
    text-align: center;
}

.review-check-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 600;
}

/*trip around kyuushuu*/
.trip-around-kyuushuu{
    background: url("../images/top/bg-ar-container.jpg");
    width:100%;
    padding:90px 100px;
}

.trip-around-kyuushuu-text{
    font-family: Ibarra Real Nova;
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(180deg, #7B2460 0%, rgba(123, 36, 96, 0.854167) 25%, #AA4C8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/*course*/
.course{
    margin-top:50px;
}

.course-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(180deg, #7B2460 0%, rgba(123, 36, 96, 0.854167) 25%, #AA4C8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.course-text-bottom{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    margin-bottom:30px;
}
.course-image{
    background: url("../images/top/bg-side-season.jpg");
    width: 100%;
    height: 100%;
    padding: 0 170px;
}

.course-image-inner > .row > .col-sm >img{
    width:280px;
}
.course-image-inner > .row > .col-sm {
    padding:0;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.course-check-text,
.button-course-check{
    display: inline-block;
}

.course-check{
    margin-top:40px;
    padding:20px 50px;
}

.button-course-check{
    background-color: rgba(116, 50, 92, 1);
    border-radius:30px;
    margin-left:30px;
}

.button-course-check > button{
    width: 100px;
    height:50px;
    text-align: center;
}

.course-check-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 600;
}

/*article*/
.article{
    padding:50px;
}

.article-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(180deg, #7B2460 0%, rgba(123, 36, 96, 0.854167) 25%, #AA4C8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.article-text-bottom{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    margin-bottom:30px;
}

.article-detail{
    padding:0 150px;
}

.detail-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top:10px;
}
.detail-date{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color:rgba(49, 49, 49, 1);
    margin-top:10px;
    margin-bottom:10px;
}

.detail-tag{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    border:1px solid black;
    border-radius: 20px;
    padding:5px 15px;
}

.article-check-text,
.button-article-check{
    display: inline-block;
}

.article-check{
    margin-top:40px;
    padding: 20px 50px;
    background-color: rgba(237, 241, 249, 1);
}

.button-article-check{
    background-color: rgba(116, 50, 92, 1);
    border-radius:30px;
    margin-left:30px;
}

.button-article-check > button{
    width: 100px;
    height:50px;
    text-align: center;
}

.article-check-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 600;
}

/*event*/
.event{
    padding:50px 0;
}

.event-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(180deg, #C4A366 0%, #E0C38C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.event-text-bottom{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom:50px;
}

/*event slidder*/
.e-swipper-text{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.e-swipper-loc{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.review-check-2-text,
.button-review-check-2{
    display: inline-block;
}

.review-check-2{
    margin-top:40px;
    background-color: rgba(230, 207, 163, 1);
    padding: 20px 50px; 
}

.button-review-check-2{
    background-color: rgba(224, 195, 140, 1);
    border-radius:30px;
    margin-left:30px;
}

.button-review-check-2 > button{
    width: 100px;
    height:50px;
    text-align: center;
}

.article-check-2-text{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 600;
}

/*Map*/
.map{
    margin-top:50px;
    padding: 0 250px;
}
.map-text-top{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
    font-weight: 600;
}

.map-title{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(180deg, #7B2460 0%, rgba(123, 36, 96, 0.854167) 25%, #AA4C8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-top: 20px;
}

.map-text-bottom{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 23px;
    font-weight: 600;
}

.map-image-text-header{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    margin-top:20px;
    margin-bottom:10px;
}

.map-image-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 350;
    line-height: 26px;
    text-align: justify;
}

.map-image-button{
    font-family: Ibarra Real Nova;
    font-size: 20px;
    font-weight: 600;
    color: rgba(123, 36, 96, 1);
    border: 1px solid rgba(123, 36, 96, 1);
    border-radius: 20px;
    width:80%;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    padding:10px 0;
}
.map-left-col{
    padding:20px;
    border:0px solid black;
    box-shadow: 0 0 0.75rem grey;
    margin-left:100px;
    margin-right:20px;
}

.map-right-col{
    margin-left:20px;
}

.map-text-bottom{
    margin-bottom: 50px;
}

/*rental*/
.rental{
    margin-top:50px;
    background: url("../images/top/bg-rental.jpg");
    padding-left:250px;
    padding-right:250px;
}

.rental-text-head{
    font-family: Ibarra Real Nova;
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(180deg, #7B2460 0%, rgba(123, 36, 96, 0.854167) 25%, #AA4C8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:70px 0;
}

.rental-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify !important;
    margin-top:40px;
}

.rental-button{
    margin-top:20px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16px;
    font-weight: 600;
    color:rgba(123, 36, 96, 1);
    border:1px solid rgba(123, 36, 96, 1);
    border-radius:20px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:10px 0;
}

.col-right-text{
    text-align: justify !important;
}

.sponsor-logo{
    margin-top:30px;
    margin-bottom:30px;
}

/*footer*/
footer{
    background: url("../images/top/bg-foot.jpg");
    padding-bottom: 30px;
}

.footer-1{
    padding:60px;
}
.col-right-footer-1{
    margin-top:auto;
    margin-bottom:auto;
    font-family: 'Ibarra Real Nova', serif;
    text-align:right;
    font-size: 16px;
    font-weight: 700;
}

.footer-menu{
    background-color: rgba(255, 255, 255, 0.75);
    width:100%;
    padding-left:50px;
    padding-right:700px; 
    margin-bottom:70px;
}

.footer-side-menu{
    padding-left:600px;
}


.footer-contact > button{
    border:1px solid black;
    padding:5px 20px;
}

.back-to-top{
    margin-top: -50px;
}

.footer-3{
    margin-top:10px 0px;
}

.footer-4{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 10px;
    font-weight: 400;
    color:rgba(132, 132, 132, 1);

}

/*Kumamoto page*/

/*top banner*/
.top-banner-kuma{
    background: url("../images/kumamoto/kuma-top.png") no-repeat;
    padding:50px 0;
    background-size: 100%;
}

.kuma-banner-top{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: white;
    filter: drop-shadow( 4px 4px 20px rgba(0, 0, 0, 0.5));
}

.kuma-banner-bottom{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5em;
    color: white;
    filter: drop-shadow( 4px 4px 20px rgba(0, 0, 0, 0.5));
}

.navbar-toggler-icon-2 {
    background: url("../images/common/hamburger-menu.png") no-repeat center center;
        display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;

}

@media (min-width:768px){
    .col-3,
    .m-article-detail,
    .m-event,
    .m-rental,
    .m-copy{
        display: none !important;
    }
}

/*for smartphone*/
@media (max-width :768px) and (orientation: portrait ){
    /*navbar*/
    .navbar-brand>img{
        width:200px;
    }
    .navbar{
        margin-right:0;
    }

    /*top header*/
    .col-1{
        display: none;
    }

    .col-2,
    .col-1{
       width:130% !important;
    }

    .col-2 >hr,
    .col-2 >.emergency-alert{
        display: none;
    }
    .col-2>.pick-up>img{
        height:40vh;
        z-index: 0;
        position: relative;
    }
    .pick-up-text{
        font-size:16px;
    }

    .pickup-check{
        margin-top:10px;
    }

    .pickup-group{
        background-color: white;
        border:1px solid gray;
        margin-right:70px;
        margin-top:-40px;
        z-index:3;
        position: relative;
    }

    .button-pickup-check > button,
    .button-course-check > button,
    .button-article-check > button{
        width:70px;
        height:30px;
    }

    /*col3*/
    .col-3{
        background: url("../images/top/bg-topcontents.jpg");
        max-width: unset !important;
        width:100% !important;
        flex: unset !important;
        margin-top: 10px;
    }

    .col-3-top{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        background-color: white;
        margin: 20px 50px;
    }

    .row-1{
        padding: 0 50px;
    }

    .row-1 > .col{
        border:1px dotted white;
    }

    .row-2{
        margin: 20px 100px;
        padding:0 50px;
    }

    .row-2>.col{
                border:1px dotted white;
    }

    .intro-top{
        font-size:16px;
    }

    .intro-bottom{
        font-size: 13px;
    }

    .swiper {
        height: 160px;
    }

    .swiper-slide{
        width:160px !important;
    }

    .post-submit{
        margin: 20px 0;
        margin-top: 80px;
    }

    .trip-around-kyuushuu-text{
        font-size:23px;
    }

    .trip-around-kyuushuu{
        padding:20px;
    }

    .course-text,
    .article-text,
    .article-detail
    {
        display:none;
    }

    .course-image{
        background: none;
        padding: 0;
        margin-left:10%;

    }

    .col-course{
        width:40% !important;
        height:160px !important;
        margin-bottom:10px !important;
    }

    .course-image-inner > .row > .col-sm >img {
        width: 160px;
    }

    .article{
        padding:20px;
    }
    .article-text-bottom{
        font-size:30px;
    }

    .m-art-row-1-col-2{
        margin-left:-50px;
    }

    .m-art-row-1-col-2-text-1{
        font-family: 'Roboto', sans-serif;
    }
    
    .m-art-row-1-col-2-text-2{
        margin-top:10px;
        font-size: 8px;
    }

    .m-art-row-2{
        margin-top:30px;
    }

    .swiper{
        display:none !important;
    }

    .m-event-row-1-col-2{
        margin-left:-50px;
    }

    .m-event-row-1-col-2-text-1{
        font-family: 'Roboto', sans-serif;
    }
    .m-event-row-1-col-2-text-2
    {
        font-size:10px;
    }

    .m-event-cat{
        margin-top:10px;
        font-size: 8px;
    }

    .m-event-cat-1{
        color:rgba(167, 44, 114, 1);
        margin-right:10px;
    }
    .m-event-cat-2{
        color:rgba(66, 66, 66, 1);
        margin-right:10px;
    }
    .m-event-cat-3{
        color:rgba(195, 163, 102, 1);
    }

    .m-event > hr{
        margin: 20px 50px;
    }
    .m-event-row-2{
        margin-top: 30px;
    }
    .review-check-2{
        display: none;
    }
    .m-event-button-check-text{
        font-size: 13px;
    }
    .m-event-button-check-text,
    .button-m-event-button-check{
        display: inline-block;
    }

    .m-event-button{
        margin-top:10px;
        padding: 20px 50px; 
    }

    .button-m-event-button-check{
        background-color: rgba(123, 36, 96, 1);
        border-radius:30px;
        margin-left:30px;
    }

    .button-m-event-button-check > button{
        width: 70px;
        height:30px;
        text-align: center;
    }

    .article-check{
        display: none;
    }

    .m-article-detail > hr{
        margin: 20px 50px;
    }

    .m-event-button-check-text,
    .button-m-event-button-check{
        display: inline-block;
    }

    .m-event-button{
        margin-top:10px;
        padding: 20px 50px; 
    }

    .button-m-event-button-check{
        background-color: rgba(123, 36, 96, 1);
        border-radius:30px;
        margin-left:30px;
    }

    .button-m-event-button-check > button{
        width: 70px;
        height:30px;
        text-align: center;
    }   

    .map{
        padding: 50px;
    }
    .map-text-top{
        color: rgba(123, 36, 96, 1);
        font-size: 23px;
    }

    .map-title,
    .map-left-col,
    .rental{
        display: none;
    }
    
    .m-rental{
        background: url("../images/top/bg-rental.jpg");
        padding: 30px;
    }

    .m-rental-header{
        color:rgba(116, 50, 92, 1);
        font-family: 'Ibarra Real Nova', serif;
        font-size:30px;
    }

    .m-sponsor{
        margin-top: 30px;
        margin-bottom:30px;
    }

    .m-sponsor-text{
        text-align: justify;
    }
    .m-sponsor-button{
        color: rgba(123, 36, 96, 1);
        border: 1px solid rgba(123, 36, 96, 1);
        border-radius:40px;
        padding:10px 50px;
        margin-top:30px;
    }
    .footer-desktop{
        display: none;
    }

    .m-footer-logo{
        padding-top:100px;
    }
    .m-copy{
        font-size:8px;
        color: grey;
    }
    .post-submit-text,
    .post-submit-button{
        display: inline-block;
    }

     .post-submit-button{
        margin:0;
     }

     .button-review-check > button{
        width: 70px;
        height: 30px;
     }

     .reiviews,
     .course,
     .article{
        background-color: #FBFCFD;
     }

     .m-footer-logo{
        margin-right:30px;
     }
     
     .m-copy{
        margin-top:20px;
     }
}